@import "helpers";
@import "pie-chart";

// Below this breakpoint: reduce font size.
$breakpoint-font-small: 960px;
// Below this breakpoint: menus change to icons.
$breakpoint-menu: 800px;
// Below this breakpoint: move to center alignment.
$breakpoint-alignment: 960px;

$font-size: 18px;
$font-size-small: 16px;
$font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height: 1.5;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$color-background: #eeeff1;
$color-background-darker: darken($color-background, 7.5%);
$color-text: #121b21;
$color-text-lighter: #999;
$color-link: #cc181e;
$color-link-hover: darken($color-link, 10%);
$color-nav: #777;
$color-contrast: #61c192;
$color-border: #dbdbdb;

$height-footer: 3.5em;
$height-footer-padding: 2.5em;

$gutter: 2em;

@include selection {
    color: white;
    background-color: $color-contrast;
}

@include sticky-footer(".non-footer-content", $height-footer + $height-footer-padding);

body {
    color: $color-text;
    background-color: $color-background;
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-weight: $font-weight-normal;
}

h1 {
    font-size: 1.05em;
    text-transform: uppercase;
}

h2 {
    font-size: 2.6em;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: 1.75em;

    @include at-or-below(600px) {
        font-size: 1.5em;
    }
}

a:link, a:visited {
    color: $color-link;
    text-decoration: none;
    transition: color .25s;
}

a:hover, a:active {
    color: $color-link-hover;
}

.full-height {
    height: 100%;
}

.large {
    font-size: 1.5em;
}

.larger {
    font-size: 2em;
}

.subbed {
    margin-bottom: 0;
}

.iconed {
    display: none;
}

.highlight {
    color: $color-contrast;
    font-weight: $font-weight-bolder;
}

.button {
    padding: .75em 1.5em;
    border-radius: 4px;

    &:link, &:visited {
        color: white;
        background-color: $color-link;
        transition: background-color .25s;
    }

    &:hover, &:active {
        background-color: $color-link-hover;
    }
}

.petition-list {
    line-height: 1.75;
}

.main {
    max-width: 68em;
    margin: 5em auto;
    padding: 0 $gutter;

    @include at-or-below(1400px) {
        margin: 3em auto;
    }
}

.menu, .nav {
    margin: 0;
    padding-left: 0;

    li {
        display: inline-block;
    }
}

footer {
    color: $color-text-lighter;
    text-align: center;
    height: $height-footer;
    line-height: 1;
    margin: 0 1em;
    padding-top: $height-footer-padding;

    a:link, a:visited {
        color: inherit;
        font-weight: $font-weight-bold;
    }

    a:hover, a:active {
        text-decoration: underline;
    }
}

header {
    $height: 4em;

    height: $height;
    line-height: $height;
    padding: 0 $gutter;
    background-color: white;
    border-bottom: 1px solid $color-border;
    // For absolute positioning of the hamburger menu.
    position: relative;
    overflow: hidden;
    transition: height .25s;

    @include at-or-below($breakpoint-menu) {
        @for $i from 1 through 6 {
            .menu-expanded-#{$i} & {
                height: (($i+1) * $height) + 1em;
            }
        }
    }

    h1 {
        margin: 0;
        float: left;
        line-height: inherit;

        a {
            display: inline-block;
        }

        i {
            padding-right: 6px;
        }

        .icon-portcullis {
            float: left;
            font-size: 1.65em;
            // Line up left edge of the portcullis icon
            // with left edge of page.
            margin-left: -.25em;
        }
    }

    .menu {
        $link-spacing: 1em;

        float: right;
        margin-right: -$link-spacing;
        font-size: .9em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        @include at-or-below($breakpoint-menu) {
            float: none;
            clear: both;
            text-align: right;

            li {
                display: block;
            }
        }

        a {
            display: inline-block;
            padding: 0 $link-spacing;
        }
    }

    .hamburger {
        position: absolute;
        top: 0;
        right: .75em;
        height: $height;
        width: $height;
        text-align: center;
        display: none;

        @include at-or-below($breakpoint-menu) {
            display: inline-block;
        }

        span {
            display: none;
        }

        i {
            font-size: 1.85em;
        }
    }
}

.titles {
    margin-bottom: 3em;
    border-bottom: 2px solid;

    h2 {
        margin: .75em 0;

        @include at-or-below($breakpoint-alignment) {
            font-size: 2.25em;
        }

        @include at-or-below($breakpoint-menu) {
            font-size: 2em;
        }

        @include at-or-below(600px) {
            font-size: 1.8em;
        }

        @include at-or-below(500px) {
            font-size: 1.6em;
        }
    }

    .nav {
        font-size: 1.15em;
        margin-top: -.2em;

        @include at-or-below($breakpoint-alignment) {
            margin-top: 0;
        }

        @include at-or-below($breakpoint-menu) {
            max-width: 28em;
            margin-left: auto;
            margin-right: auto;
        }

        li {
            padding-right: 2em;

            @include at-or-below($breakpoint-alignment) {
                padding: 0 1em;
            }

            @include at-or-below($breakpoint-menu) {
                padding: 0;

                @at-root {
                    @for $i from 2 through 6 {
                        .nav-items-#{$i} li {
                            width: floor(100% / $i);
                        }
                    }
                }
            }
        }

        a {
            display: inline-block;
            // For absolute positioning of the ::after
            // pseudo-element.
            position: relative;
            padding-bottom: 1.5em;

            @include at-or-below($breakpoint-menu) {
                // Expand the clickable area to the entire
                // parent element.
                display: block;
            }

            &:link, &:visited {
                color: $color-nav;
                transition: color .25s;
            }

            &:hover, &:active, &.selected {
                color: inherit;

                &::after {
                    height: 4px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                background: $color-text;
                transition: height .25s;
            }
        }

        span {
            @include at-or-below($breakpoint-menu) {
                display: none;
            }
        }

        i {
            display: none;
            font-size: 1.5em;

            @include at-or-below($breakpoint-menu) {
                display: inline-block;
            }
        }
    }
}

// Home page

.pg-home {
    $breakpoint: 1000px;

    .main {
        max-width: 48em;
        margin-top: 8em;

        @include at-or-below($breakpoint) {
            margin-top: 3em;
        }
    }

    .titles {
        border-bottom: none;
    }

    form {
        margin-top: -.5em;
    }

    p {
        font-size: 1.25em;
        text-align: right;
    }
}

.textbox {
    $height: 3em;

    width: 100%;
    font-size: 1.5em;
    height: $height;
    line-height: $height;
    border-bottom: 2px solid;
    // For absolute positioning of the label/button.
    position: relative;

    @include at-or-below(600px) {
        font-size: 1.2em;
    }

    @include at-or-below(400px) {
        font-size: 1em;
    }

    label, input, button {
        outline: 0;
        padding: 0;
        border: none;
        height: 100%;
        color: inherit;
        background: inherit;
    }

    label {
        position: absolute;
        right: 0;

        i {
            font-size: 1.05em;
        }
    }

    input {
        width: 100%;
        // Include padding in the width.
        box-sizing: border-box;
        padding-left: 1px;
        padding-right: 2.4em;

        @include input-placeholder {
            opacity: 1;
            color: $color-text-lighter;
        }
    }

    button {
        display: none;
    }
}

// Loading page

.pg-loading {
    text-align: center;

    header {
        height: 0;
        margin-bottom: 6em;
    }

    h3 {
        margin: 0;
        line-height: inherit;
        font-weight: $font-weight-bold;
    }
}

// Error page

.error-message {
    max-width: 48em;
}

// Petition pages

.pg-petition {
    @include at-or-below($breakpoint-alignment) {
        .titles {
            text-align: center;
        }
    }
}

// Petition Summary page

.summary {
    margin: 3em 0;
}

.intro {
    line-height: 1.25;

    @include at-or-below(1100px) {
        .prefix {
            display: none;
        }
    }

    @include at-or-below($breakpoint-alignment) {
        margin-bottom: 3em;
    }

    @include at-or-below(500px) {
        margin-bottom: 1.5em;
    }
}

.percentages {
    // Below this breakpoint, pie charts change from
    // fixed width to percentage width. This value
    // was chosen to give a smooth transition between
    // fixed and fluid dimensions.
    $breakpoint-fluid: 650px;

    $pie-diameter-fixed: 14em;
    $pie-spacing-fixed: 3em;
    $pie-total-width-fixed: (2 * $pie-diameter-fixed) + $pie-spacing-fixed;
    $pie-diameter-fluid: 45%;
    $pie-spacing-fluid: 100% - (2 * $pie-diameter-fluid);
    $text-padding: 4em;

    @include clearfix;

    margin-top: 5em;

    @include at-or-below($breakpoint-alignment) {
        text-align: center;
        margin-top: 3.5em;
    }

    @include at-or-below($breakpoint-menu) {
        margin-top: 0;
    }

    p, ul {
        float: right;

        @include at-or-below($breakpoint-alignment) {
            float: none;
        }
    }

    p {
        width: 100%;
        margin-left: -$pie-total-width-fixed;

        @include at-or-below($breakpoint-alignment) {
            width: auto;
            margin-left: 0;
        }
    }

    ul {
        margin: 0;
        padding-left: 0;
        width: $pie-total-width-fixed;

        @include at-or-below($breakpoint-alignment) {
            width: auto;
        }
    }

    li {
        display: inline-block;
        width: $pie-diameter-fixed;
        height: $pie-diameter-fixed;

        @include at-or-below($breakpoint-fluid) {
            height: 0;
            width: $pie-diameter-fluid;
            padding-top: $pie-diameter-fluid;
        }

        &:first-child {
            margin-right: $pie-spacing-fixed;

            @include at-or-below($breakpoint-fluid) {
                margin-right: $pie-spacing-fluid;
            }
        }
    }

    @at-root .intro .content {
        $font-size: 2em;

        font-size: $font-size;
        display: inline-block;
        padding-left: ($pie-total-width-fixed + $text-padding) / ($font-size / 1em);

        @include at-or-below($breakpoint-alignment) {
            font-size: 1.75em;
            padding-left: 0;
        }

        @include at-or-below(500px) {
            font-size: 1.5em;
            padding-left: 0;
        }
    }
}

.pie {
    $ring-width: 8.5%;

    @include pie-chart($color-background-darker, $color-contrast);

    text-align: center;
    // Extra space for the signature counts.
    margin-bottom: 4em;

    @include at-or-below($breakpoint-menu) {
        margin-bottom: 6em;
    }

    .inner {
        position: absolute;
        top: $ring-width;
        bottom: $ring-width;
        left: $ring-width;
        right: $ring-width;
        border-radius: 50%;
        background: $color-background;
        line-height: 1;
    }

    .percentage, .label {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .percentage {
        bottom: 52%;
        font-size: 2em;
        font-weight: $font-weight-bold;

        @include at-or-below(600px) {
            font-size: 1.85em;
        }

        @include at-or-below(550px) {
            font-size: 1.5em;
        }

        @include at-or-below(500px) {
            font-size: 1.25em;
        }
    }

    .label {
        top: 55%;
        font-size: 1.5em;

        @include at-or-below(500px) {
            font-size: 1.05em;
        }
    }

    .outer {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-top: 1.5em;
        font-size: 1.25em;

        @include at-or-below(500px) {
            font-size: 1em;
        }
    }

    .count {
        font-weight: $font-weight-bolder;

        @include at-or-below($breakpoint-menu) {
            display: block;
        }
    }

    .brackets {
        display: none;
    }
}

.radio {
    cursor: pointer;

    span {
        background: $color-background-darker;
        padding: .6em 1em;
        border-radius: 4px;
        transition: color .25s, background-color .25s;
    }

    span:hover, :checked + span {
        color: white;
        background: $color-contrast;
    }

    input {
        display: none;
    }
}

.bar {
    table-layout: fixed;
    padding-right: 5em;
    width: 100%;
    line-height: 2.25;
    border-spacing: 8px;

    @include at-or-below($breakpoint-menu) {
        line-height: 1.25;

        .label, .value {
            display: block;
        }
    }

    .label {
        width: 14%;
        padding-right: 1%;
        text-align: right;
        // Along with the width, the following styles force
        // text to one line and truncates it with ellipses
        // when too wide for the container.
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include at-or-below($breakpoint-menu) {
            width: auto;
            text-align: left;
        }
    }

    .value {
        span {
            min-width: 2px;
            background: $color-contrast;
            transition: width .25s, text-indent .25s;
        }
    }
}

.bar-header {
    line-height: 6em;

    @include at-or-below($breakpoint-alignment) {
        text-align: center;
        line-height: inherit;
        margin: 1.5em 0;
    }

    h3 {
        float: left;
        margin: 0;
        line-height: inherit;

        @include at-or-below($breakpoint-alignment) {
            line-height: 1.1;
            float: none;
        }
    }

    .options {
        float: right;

        @include at-or-below($breakpoint-alignment) {
            float: none;
            display: block;
            margin: 1em 0;
        }
    }

    .radio {
        margin-left: .75em;

        @include at-or-below($breakpoint-alignment) {
            margin-left: 0;

            span {
                color: $color-nav;
                background: inherit;
            }

            span:hover, :checked + span {
                color: $color-text;
            }
        }
    }
}

.countries {
    .radio:nth-child(1) span::after, .radio:nth-child(2) span::after {
        content: " Only";

        @include at-or-below(500px) {
            content: none;
        }
    }

    .radio:nth-child(3) span::after {
        content: " Countries";

        @include at-or-below(500px) {
            content: none;
        }
    }
}

// Petition Detail page

.petition-details {
    $sidebar-width: 30%;
    $sidebar-margin: 5%;

    $breakpoint-columns: 1280px;

    @include clearfix;

    @include at-or-below($breakpoint-columns) {
        max-width: 40em;
    }

    @include at-or-below($breakpoint-alignment) {
        margin: 0 auto;
    }

    .description {
        float: left;
        width: (100% - $sidebar-width - $sidebar-margin);
        line-height: 1.65;

        @include at-or-below($breakpoint-columns) {
            float: none;
            width: auto;
        }

        p {
            font-size: 1.1em;
            margin: 0 0 1.85em 0;
        }

        .button {
            display: inline-block;
            margin: .5em 0;
        }
    }

    .meta {
        float: right;
        width: $sidebar-width;
        margin: 0;
        padding-top: .25em;
        padding-left: 0;

        @include at-or-below($breakpoint-columns) {
            float: none;
            width: auto;
            margin-top: 2em;
        }

        dt {
            font-size: .9em;
            line-height: 1;
            color: $color-text-lighter;
        }

        dd {
            margin-left: 0;
            margin-bottom: 1em;
        }
    }
}

// Petition Country/Constituency pages

.tabular {
    width: 100%;
    border-collapse: collapse;

    thead, tbody {
        border-bottom: 1px solid $color-border;
    }

    th {
        padding: 1.5em 0;
        text-align: inherit;
        font-weight: $font-weight-bold;

        a:link, a:visited {
            color: inherit;
        }
    }

    td {
        padding: .85em 0;
    }

    tbody tr:nth-child(odd) {
        background-color: rgba(black, .035);
    }

}

.country-data, .constituency-data {
    margin-top: 1em;

    td, th {
        &:first-child {
            padding-left: 1em;
        }
    }
}

.country-data {
    // Hide percentages column at small widths.
    @include at-or-below(700px) {
        td, th {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

.constituency-data {
    // Hide country/region columns at small widths.
    @include at-or-below($breakpoint-alignment) {
        td, th {
            &:nth-child(2), &:nth-child(3) {
                display: none;
            }
        }
    }

    // Hide percentages column at small widths.
    @include at-or-below(700px) {
        td, th {
            &:nth-child(5) {
                display: none;
            }
        }
    }
}

